@font-face {
  font-family: GraublauWeb;
  font-weight: bold;
  src: url("./Pecita.otf") format("opentype");
}

body,
a {
  font-family: "GraublauWeb" !important;
  font-size: 30px;
  color: #1dc21d;
  background-color: #030303;
  padding: 30px;
  overflow: auto;
  background-size: cover;
}

img {
  border: none !important;
  width: 150px;
}

body::-webkit-scrollbar {
  display: none;
}

button:active {
  transform: translateY(4px);
}

button {
  cursor: pointer;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  background-color: transparent;
  border: 0px;
}

.displayBlock {
  display: block;
  width: 203px;
}

/* click effect */
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #1dc21d;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}
@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5rem;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03rem;
  }
}
/* click effect end */

/* wish card css */
.cards {
  padding-top: 20px;
  display: flex;
  padding: 35px !important;
  margin: 12px !important;
  justify-content: center;
}
.card {
  width: 180px;
  height: 180px;
  position: relative;
  perspective: 700px;

  margin: 10px;
}
.card:hover .front {
  transform: rotateY(-80deg);
}
.card:hover .back {
  transform: rotateY(20deg);
}
.card:hover .face {
  transition: all 0.3s ease-out;
}
.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  transform-origin: 0 0;
}
.front {
  transform: rotateY(0deg);
  z-index: 2;
}
.back {
  background: #9dcc78;
  transform: rotateY(0deg);
  z-index: 1;
  padding: 0px 26px !important;
  font-size: 15px;
  color: red;
  border: solid;
}

#wish_card {
  display: flex;
  justify-content: center;
}

/* Not related */
* {
  box-sizing: border-box;
}
.back {
  padding: 3em;
}
.back h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}
/* end wish card */

img {
  border: solid;
}

/* galaxy background */

/* end galaxy background */

/* neon button */
/* * {
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000;
} */
a {
  position: relative;
  display: inline-block;
  padding: 22px 20px;
  margin: 0px;
  color: #00ff54;
  font-size: 18px !important;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
  -webkit-box-reflect: below 10px
    linear-gradient(
      transparent,
      transparent,
      rgba(0, 0, 0, 0.13333333333333333)
    );
}
a:link,
a:active {
  color: #00ff54;
}
a:hover {
  background: #00ff54;
  color: #050801;
  box-shadow: 0 0 5px #00ff54, 0 0 25px #00ff54, 0 0 50px #00ff54,
    0 0 200px #00ff54;
}
a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00ff54);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, #00ff54);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00ff54);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #00ff54);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* neon button end */

/* tree */
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justif-content: center;
}

.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  animation: neonFlicker 10s linear infinite;
}

@keyframes neonFlicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/* progress bar */

.bar {
  -webkit-appearance: none;
  height: 1.4em;
  width: 300px !important;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.neon-bar:after {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}
.bar::-webkit-progress-bar {
  padding: 0.3em;
  border-radius: calc(1.4em / 2);
  background: #1e1e1e;
}

.bar::-webkit-progress-value {
  background: #62c335;
  box-shadow: 0 0 0.6em #62c335, 0 0 0.8em #62c335;
  border-radius: calc(1.4em / 2);
}

.bar__value {
  color: #fc0349;
  font-size: 1.2em;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-shadow: 0 0 0.3em #f70348, 0 0 0.6em #de0340;
  margin-left: 0.5em;
}

.mount {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}



/* ta da gif */
button {
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #404663;
  color: #fff;
  border: 0;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  z-index: 999;
  position: relative;
  display: flex;
  gap: 0.5em;
  box-shadow:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.028),
    0px 7.5px 10px rgba(0, 0, 0, 0.035),
    0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
    0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
    0px 60px 80px rgba(0, 0, 0, 0.07);
}

.button:active {
  transform: scale(1.01);
}


/* media queries */

@media only screen and (max-width: 768px) {
  #full_screen {
    text-align: center;
  }
  a {
    font-size: 25px;
  }
  img {
    border: none !important;
    width: 5 0%;
  }
}
